/*          DEALS COMPONENTS          */

/* NewDeal */
.dealModalHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.dealSearchRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dealSearchCol {
    padding: 0.75rem;
    text-align: center;
}

.dealSelectedRow {
    margin-top: 1.25rem;
}

.dealFlatFeeLabel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -0.5rem;
}

.dealFlatFeeToggle {
    padding-left: 0.5rem;
}

.dealSubmitRow {
    display: flex;
    justify-content: center;
}

.dealCloseRow {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 0.75rem;
}

/* DealDetail */
.dealDetailWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.dealDetailHeader {
    text-align: center;
}

.dealDetailColumns {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.dealDetailCol {
    display: flex;
    flex-direction: column;
}

.dealDetailLeft {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
    width: 150px;
}

.dealDetailStat {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.dealDetailStatNowrap {
    white-space: nowrap;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.dealDetailPaid {
    color: #166534 !important;
    font-weight: 900 !important;
}

/* EditDeal */
.editDealColumns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.editDealCol {
    padding: 0.5rem;
}

.editDealFieldRow {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.editDealReadonly {
    background-color: #eeeeee !important;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

.editDealWide {
    min-width: 180px;
}

.editDealTotal {
    background-color: #474747 !important;
    color: white !important;
    font-weight: bold !important;
    text-indent: 1rem;
}

.editDealTotalPrefix {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    pointer-events: none;
}

@media (min-width: 640px) {
    .dealDetailColumns {
        flex-direction: row;
    }
    .dealDetailLeft {
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .dealSearchRow {
        flex-direction: row;
    }
    .editDealColumns {
        flex-direction: row;
    }
}
